%h2 Register

%form(role="form" method="POST" action="#{ url('/register') }")
	!=csrf_field()

	.form-group
		%label.control-label Name
		%input(type="text" name="name")

		-if ($errors->has('name'))
			%span(class="help-block")!=$errors->first('name')

	.form-group
		%label.control-label E-Mail Address
		%input(type="email" name="email")

		-if ($errors->has('email'))
			%span(class="help-block")!= $errors->first('email')

	.form-group
		%label.control-label Password
		%input(type="password" name="password")

		-if ($errors->has('password'))
			%span(class="help-block")!= $errors->first('password')

	.form-group
		%label.control-label Confirm Password
		%input(type="password" name="password_confirmation")

		-if ($errors->has('password_confirmation'))
			%span(class="help-block")!= $errors->first('password_confirmation')

	.form-group
		%button(type="submit" class="btn btn-primary")
			%i(class="fa fa-btn fa-user")
			Register
