.home
  height 100vh
  background black
  color white
  position relative

  .container
    center()

  h1
    font-size 90px
    text-transform uppercase
    font-weight bold
    letter-spacing 10px

  .links
    display inline-block
    width 100%
    text-align center
    margin-top 100px

  a
    font-size 40px
    font-weight bold
    text-transform uppercase
    margin-right 100px

    &:last-of-type
      margin-right 0
