@font-face
    font-family 'denseregular'
    src url('~global/fonts/dense-regular-webfont.eot')
    src url('~global/fonts/dense-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('~global/fonts/dense-regular-webfont.woff2') format('woff2'),
         url('~global/fonts/dense-regular-webfont.woff') format('woff'),
         url('~global/fonts/dense-regular-webfont.ttf') format('truetype'),
         url('~global/fonts/dense-regular-webfont.svg#denseregular') format('svg')
    font-weight normal
    font-style normal
