-$layout=new App\Layout
!!!
%html
	%head
		%title Placehold.Club

		-# Boilerplate meta tags
		%meta(charset='utf-8')
		%meta(http-equiv='X-UA-Compatible' content='IE=edge')
		%meta(name='viewport' content='width=device-width, initial-scale=1.0')
		%meta(name='msapplication-tap-highlight' content='no')

		-# -# Inject page meta tags
		-# != $layout->meta()

		-# CSRF token for lifting out by JS for AJAX requests
		%meta(name='csrf-token' content=csrf_token())

		-# -# Inline Modernizr as described by the author:
		-# -# https://github.com/Modernizr/Modernizr/issues/1204#issuecomment-142143094
		-# %script(type="text/javascript")
		-# 	!= file_get_contents(base_path('resources/assets/vendor/modernizr.js'))

		-# Stylesheets
		!= $layout->webpackAssetTag('app.css')

	%body#app
		-# != View::make('shared.header')

		-# Markup
		#main!= $content

		-# != View::make('shared.footer')

		-# JS
		!= $layout->webpackAssetTag('app.js')
		%script(src="/js/libs.js")

	!=View::make('flash')
